
.backgroundColor{
  background: #e6e6e6!important;
}
.grid {
  width: 100%;
  height: 50px;
}
.ui-grid-row {
  cursor: pointer;
}
.taskBlock{
  display: flow-root;
}
.marginInputs{
      margin-bottom: 10px;
}
.floatRight{
  float: right;
}
.tableFontSize{
      font-size: 15px;
}
